.container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}


.title {
    font-family: "Exo 2.0- Thin";
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 36px;
    margin-bottom: 24px;
}

.cardList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.btn {
    margin-top: 14px;
    text-align: center;
    color: white;
    font-size: 13px;
}

.btn span {
    color: #1698D9;
    cursor: pointer;
    text-decoration: underline dashed;
}