@font-face {
  src: url('./fonts/Exo2.0-Thin.otf');
  font-family: "Exo 2.0- Thin";
}

@font-face {
  src: url('./fonts/trebuc.ttf');
  font-family: "Trebuchet MS";
}

body {
  font-family: "Trebuchet MS";
  background-image: url('./images/background.png');
}